.header {
  padding: 25px;
  background: #202020;
  color: white;
  display: flex;
}

.button-action {
  border: none;
  background-color: transparent;
}

.button-action > i {
  color: white;
  width: 20px;
}

.input-search {
  width: 300px;
  height: 26px;
  background-color: hsla(0, 0%, 100%, 0.2);
  border: 1px solid transparent;
  border-radius: 3px;
  color: hsla(0, 0%, 100%, 0.87);
  padding-left: 36px;
}

.search {
  position: relative;
}

::placeholder {
  color: white;
  opacity: 1;
  font-size: 13px;
}

.input-icon {
  position: absolute;
  left: 3px;
  top: calc(50% - 0.5em);
}
